/* @import url(header.css); */
@import url(teampage.css);

/* custom properties */
:root {
    /* colors */
--Q-groen: #84BC2D;
--Donkere-achtergrond: #41453B;
--Tekst-op-donkere-achtergrond: #EEEEEE;
--Lichte-achtergrond: #FFFFFF;
--Teskt-op-lichte-achtergrond:	#212121;
/* create darkmode */
/* font */
/* --proxima-nova...
-- */

}

/* @font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://github.com/MarvinMichel/the-sprint/blob/main/public/fonts/proxima-nova-300.woff2);
} */

/* @media (prefers-color-scheme: dark) {
  /* images */
  /*img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
 }
  img:hover {
    opacity: 1;
  }
}

body {
    background-color: var(--Lichte-achtergrond);
    color: var(--Teskt-op-lichte-achtergrond);
  }
  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: var(--Lichte-achtergrond);
      color: var(--Teskt-op-lichte-achtergrond);
    }
  } */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: var(--Donkere-achtergrond);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: cursive;
    
}




/* css opmaak videos om naar te kijken
https://www.youtube.com/watch?v=Wl6lkkEmK4M
https://www.youtube.com/watch?v=Qj0Qx8HpNUo
https://www.youtube.com/watch?v=6xNcXwC6ikQ
https://www.youtube.com/watch?v=5DEq5cWNYt8
https://www.youtube.com/watch?v=oeFwC6U_woc */


/* website link for image split: 
https://css-challenges.com/css-image-splitting/ 
https://codepen.io/supah/pen/ayOjop
https://www.youtube.com/watch?v=oeFwC6U_woc
*/