/* @import url(header.css); */
/* @import url(teampage.css); */

/* custom properties */
:root {
    /* colors */
--Q-groen: #84BC2D;
--Donkere-achtergrond: #41453B;
--Tekst-op-donkere-achtergrond: #EEEEEE;
--Lichte-achtergrond: #FFFFFF;
--Teskt-op-lichte-achtergrond:	#212121;
/* create darkmode */
/* font */
--h1: 'proxima-nova-bold', sans-serif;
--p: 'proxima-nova', sans-serif;
/* --proxima-nova...
-- */

}


@font-face {
  font-family: 'proxima-nova';
  src:url(../fonts/proxima-nova-300.woff2);
}
@font-face {
  font-family: 'proxima-nova-bold';
  src: url(..fonts/proxima-nova-900.woff2);
}

/* @media (prefers-color-scheme: dark) {
  /* images */
  /*img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
 }
  img:hover {
    opacity: 1;
  }
}

body {
    background-color: var(--Lichte-achtergrond);
    color: var(--Teskt-op-lichte-achtergrond);
  }
  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: var(--Lichte-achtergrond);
      color: var(--Teskt-op-lichte-achtergrond);
    }
  } */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: var(--Donkere-achtergrond);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}


/* all */
.image-container {
  margin: 20px 20px 20px;
  width: 400px;
  height: 400px;

  background-repeat: none;
  background-size: cover;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 10%;
}

.image-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.image-container .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.image-container .img span {
  width: 20%;
  height: 100%;
  transition: 0.9s ease-in-out;
  align-items: center;
  background-size: cover;
}

.image-container .img span:nth-child(1) {
  background-position: 0%;
  transition-delay: 0s;
}

.image-container .img span:nth-child(2) {
  background-position: 25%;
  transition-delay: 0.1s;
}

.image-container .img span:nth-child(3) {
  background-position: 50%;
  transition-delay: 0.2s;
}

.image-container .img span:nth-child(4) {
  background-position: 75%;
  transition-delay: 0.3s;
}

.image-container .img span:nth-child(5) {
  background-position: 100%;
  transition-delay: 0.4s;
} 

.image-container:hover .img > span {
  transform: translateY(-120%);
}

.image-container:hover .content-wrapper {
  transform: translateY(0%);
  transition: 0.9s ease-in-out;
  transition-delay: 0.4s;
} 

.content-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: left;
  flex-direction: column;
  filter: brightness(90%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

h1 {
  font-family: var(--h1);
  font-size: 80px;
  letter-spacing: 5px;
  margin-top: -5px;
  color: #0e3742;
  text-shadow: 1px 1px 2px var(--Q-groen);  
}

p {
  font-family: var(--p);
  font-size: 16px;
  box-shadow: 0 0 2em #212121;
  /* letter-spacing: 2px;
  margin-top: 35px; */
  line-height: 25px;
  /* letter-spacing: 3px; */
  color: ghostwhite;
  /* text-align:center; */
}

/* Anne */
.image-container0 {
  background-image: url(../ai-assets/fallback.jpeg);
}

.image-container0 .img span {
  background-image: url(../assets/anne.jpg);
}

.content-wrapper0 {
  background-image: url(../ai-assets/fallback.jpeg);
}

/* Bart */
.image-container1 {
  background-image: url(../ai-assets/bart_art.jpeg);
}

.image-container1 .img span {
  background-image: url(../assets/bart.jpg);
}

.content-wrapper1 {
  background-image: url(../ai-assets/bart_art.jpeg);
}


/* benny */
.image-container2 {
  background-image: url(../ai-assets/fallback.jpeg);
}

.image-container2 .img span {
  background-image: url(../assets/benny.jpg);
}

.content-wrapper2 {
  background-image: url(../ai-assets/fallback.jpeg);
}


/* Bob */
.image-container3 {
  background-image: url(../ai-assets/bob_art.jpeg);
}

.image-container3 .img span {
  background-image: url(../assets/bob.jpg);
}

.content-wrapper3 {
  background-image: url(../ai-assets/bob_art.jpeg);
}

/* Chris */
.image-container4 {
  background-image: url(../ai-assets/chris_art.jpeg);
}

.image-container4 .img span {
  background-image: url(../assets/chris.jpg);
}

.content-wrapper4 {
  background-image: url(../ai-assets/chris_art.jpeg);
}

/* Djovanni */
.image-container5 {
  background-image: url(../ai-assets/djovanni_art.jpeg);
}

.image-container5 .img span {
  background-image: url(../assets/djovanni.jpg);
}

.content-wrapper5 {
  background-image: url(../ai-assets/djovanni_art.jpeg);
}

/* Jan Jouke */
.image-container6 {
  background-image: url(../ai-assets/jan-jouke_art.jpeg);
}

.image-container6 .img span {
  background-image: url(../assets/jan-jouke.jpg);
}

.content-wrapper6 {
  background-image: url(../ai-assets/jan-jouke_art.jpeg);
}

/* Jasper */
.image-container7 {
  background-image: url(../ai-assets/fallback.jpeg);
}

.image-container7 .img span {
  background-image: url(../assets/jasper.jpg);
}

.content-wrapper7 {
  background-image: url(../ai-assets/fallback.jpeg);
}

/* Layla */
.image-container8 {
  background-image: url(../ai-assets/layla_art.jpeg);
}

.image-container8 .img span {
  background-image: url(../assets/layla.jpg);
}

.content-wrapper8 {
  background-image: url(../ai-assets/layla_art.jpeg);
}

/* Mara */
.image-container9 {
  background-image: url(../ai-assets/mara_art.jpeg);
}

.image-container9 .img span {
  background-image: url(../assets/mara.jpg);
}

.content-wrapper9 {
  background-image: url(../ai-assets/mara_art.jpeg);
}

/*          RESPONSIVE       */
@media (min-width: 320px) {
  main {
    display: grid;
    grid-column: 1;
    place-items: center;
    padding-top: 5em;
    text-align: center;
  }
  .image-container {
    width: 200px;
    height: 200px;
  }  
}

@media (min-width: 450px) {
  .image-container {
    width: 250px;
    height: 250px;
  }
}

@media  (min-width: 768px) {
  main {
    display: grid;
    gap: 1em;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, max-content);
    grid-auto-flow: column;
  }
  .image-container {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1025px) {
  main {
    display: grid;
    gap: 1em;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    grid-auto-flow: column;
  }
  .image-container {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 1440px) {
  main {
    display: grid;
    gap: 1em;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-auto-flow: column;
  }
  .image-container {
    width: 300px;
    height: 300px;
  }
}



/* Link to text effects
https://www.youtube.com/watch?v=I_RhD99rR0c&list=PL5e68lK9hEzdGazIG1ONnb7TJ74Q69rH7&index=2 
https://freefrontend.com/css-text-effects/page/2/*/

/* link to use double images
https://css-tricks.com/almanac/properties/b/background-image/ */

/* css opmaak videos om naar te kijken
https://www.youtube.com/watch?v=Wl6lkkEmK4M
https://www.youtube.com/watch?v=Qj0Qx8HpNUo
https://www.youtube.com/watch?v=6xNcXwC6ikQ
https://www.youtube.com/watch?v=5DEq5cWNYt8
https://www.youtube.com/watch?v=oeFwC6U_woc */


/* website link for image split: 
https://css-challenges.com/css-image-splitting/ 
https://codepen.io/supah/pen/ayOjop
https://www.youtube.com/watch?v=oeFwC6U_woc
*/