/*    TEAMPAGE    */
.teampage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    width: 200px;
    height: 600px;
    box-shadow: 0, 30px, 50px, #dbdbdb;
}

.teampage .card .item {
  width: 200px;
  height: 300px;
  margin: 20px;
  /* position: absolute; */
  top: 50%;

  border-radius: 20px;
  /* box-shadow: 0 30px 50px #505050; */
  background-position: 50% 50%;
  background-size: cover;
  /* display: inline-block; */
  transition: 0.5s; 
}